<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ivan_Buscaminas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
      <add name="Ivan_Buscaminas.Properties.Settings.buscaminasConnectionString"
          connectionString="Data Source=buscaminas.database.windows.net;Initial Catalog=buscaminas;Persist Security Info=True;User ID=xxxxxx;password=xxxxxx"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="emailfrom" value="email" />
    <add key="emailpass" value="password" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Ivan_Buscaminas.Properties.Settings>
        <setting name="Usuario" serializeAs="String">
            <value />
        </setting>
        <setting name="Contraseña" serializeAs="String">
            <value />
        </setting>
        <setting name="UsuarioSesion" serializeAs="String">
            <value />
        </setting>
    </Ivan_Buscaminas.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>